<template name="LabelMaker_Editor">
  <div class="container">
    <div class="label-title-wrap">
    	<div class="label-title">
    		<p class="subtext">Placeholder for the Blend, Create Label, Submit functionality</p>
    		<h1>Design Your Label</h1>
    		<p class="subtext">Customize your label.</p>
    	</div>
    </div>

    <div class="template-wrap">
    	<div class="template-editor">
    		<div class="background-editor">
    			<p>Background Editor</p>
    		</div>
    		<div class="text-editor">
    			<p>Text Editor </p>
    		</div>
    		<div class="new-label">
    			<p>New Label <span class="plus">&#43;</span></p>
    		</div>
    		<div class="save-label">
    			<p>Save current label?</p>
    			<p class="label-name">Name Your Label:</p>
    			<input>
    			<button>Save</button>
    			<button>Delete</button>
    		</div>
    	</div>

    	<div class="template-view-wrap">
    		<div class="template-view">
    			<div class="image-upload">
    				<img src="http://placehold.it/520x300">
    			</div>
    			<div class="label-preview">
    				<h2>Placeholder for</h2>
    				<p>Wine Label</p>
    			</div>
    		</div>

    		<div class="button-wrap">
    			<button>Save &amp; Next</button>
    		</div>
    	</div>
    </div>
  </div>
</template>
