<template name="LabelMaker_Template">
  <div class="container">
    <p class="subtext">Placeholder for the Blend, Create Label, Submit functionality</p>
    <h1>Design Your Label</h1>
    <p class="subtext">Select a label category.</p>

    <div class="one-third-wrap">
      <div class="category-wrap">
        <img src="http://placehold.it/265x205">
        <p>Wedding 1</p>
      </div>
      <div class="category-wrap">
        <img src="http://placehold.it/265x205">
        <p>Wedding 1</p>
      </div>
    </div>

    <div class="one-third-wrap">
      <div class="category-wrap">
        <img src="http://placehold.it/265x205">
        <p>Wedding 1</p>
      </div>
      <div class="category-wrap">
        <img src="http://placehold.it/265x205">
        <p>Wedding 1</p>
      </div>
    </div>

    <div class="one-third-wrap">
      <div class="category-wrap">
        <img src="http://placehold.it/265x205">
        <p>Wedding 1</p>
      </div>
      <div class="category-wrap">
        <img src="http://placehold.it/265x205">
        <p>Wedding 1</p>
      </div>
    </div>

    <div class="button-wrap">
      <button>Next</button>
    </div>
  </div>
</template>
