<template name="LabelMaker_Category">
  <div class="container">
    <p class="subtext">Placeholder for the Blend, Create Label, Submit functionality</p>
    <h1>Design Your Label</h1>
    <p class="subtext">Select a label category.</p>

    <div class="one-third-wrap">
      <div class="category-wrap">
        <img src="http://placehold.it/200x200" class="radius">
        <p>DeLoach Designs</p>
      </div>
      <div class="category-wrap">
        <img src="http://placehold.it/200x200" class="radius">
        <p>Romantic Celebration</p>
      </div>
    </div>

    <div class="one-third-wrap">
      <div class="category-wrap">
        <img src="http://placehold.it/200x200" class="radius">
        <p>Holiday</p>
      </div>
      <div class="category-wrap">
        <img src="http://placehold.it/200x200" class="radius">
        <p>Appreciation</p>
      </div>
    </div>

    <div class="one-third-wrap">
      <div class="category-wrap">
        <img src="http://placehold.it/200x200" class="radius">
        <p>Celebration</p>
      </div>
      <div class="category-wrap">
        <img src="http://placehold.it/200x200" class="radius">
        <p>Upload Your Own Design</p>
      </div>
    </div>

    <div class="button-wrap">
      <button>Next</button>
    </div>
  </div>
</template>
