<template name="LabelMaker_Upload">
  <div class="container">

    <div class="label-title-wrap">
      <div class="label-title">
        <p class="subtext">Placeholder for the Blend, Create Label, Submit functionality</p>
        <h1>Label Maker</h1>
        <p class="subtext">Upload a custom design with dimensions 5.273" X 4.1" at 300 DPI.</p>
      </div>
    </div>

    <div class="template-wrap">
      <div class="template-editor">
        <div class="new-label custom">
          <p>New Label <span class="plus">&#43;</span></p>
        </div>
        <div class="save-label">
          <p>Save current label?</p>
          <p class="label-name">Name Your Label:</p>
          <input>
          <button>Save</button>
          <button>Delete</button>
        </div>
      </div>

      <div class="template-view-wrap">
        <div class="template-view">
          <div class="image-upload">
            <img src="http://placehold.it/520x500">
          </div>
        </div>
        <div class="button-wrap">
          <button>Save &amp; Next</button>
        </div>
      </div>
    </div>

  </div>
</template>
