<template name="Legal">
  <div class="container">
    <h1>Legal Agreement</h1>
    <div class="legal-terms">
      <p>
        Mollit Lorem est aliquip et non dolore enim do sint. Consequat laboris aute sunt excepteur laboris Lorem non. Exercitation et aliquip ex eiusmod ullamco commodo aliqua magna enim consectetur reprehenderit nulla consectetur veniam. Reprehenderit in quis magna exercitation dolore reprehenderit tempor cupidatat velit in in magna Lorem eiusmod. Nostrud officia minim nostrud minim occaecat sunt reprehenderit consequat irure consectetur anim.
      </p>

      <p>
        Ullamco nostrud cupidatat qui sit reprehenderit voluptate. Laborum sunt do id amet nostrud deserunt. Consectetur in eu nulla magna ex labore consectetur elit qui officia. Laborum aliquip nulla id et reprehenderit. Dolor veniam sit magna adipisicing non ullamco. Deserunt dolore cillum et velit ipsum dolor officia aute commodo pariatur id aute in. Sint amet culpa laboris labore in est aliqua amet aliqua sint et. In est nostrud aliquip esse eu aliqua eiusmod reprehenderit anim adipisicing magna velit cupidatat ex. Occaecat non sint do exercitation culpa excepteur cupidatat qui incididunt ex veniam Lorem Lorem. Labore eiusmod elit duis magna elit amet veniam tempor consectetur dolor.
      </p>

      <p>
        Cillum veniam pariatur fugiat excepteur ex reprehenderit incididunt aute deserunt tempor reprehenderit veniam. Proident tempor magna duis dolor nisi. Id qui fugiat ad mollit excepteur est minim nulla cillum sit mollit veniam sint. Pariatur labore fugiat mollit duis ad ipsum eiusmod. Ad sit amet fugiat esse ea mollit et. Esse magna quis aliquip anim esse culpa occaecat velit.
      </p>
    </div>

    <div class="button-wrap">
      <button>Accept &amp; Continue</button>
    </div>

  </div>
</template>
