<template name="OnSite_Mixer">
  <div class="container-narrow">
    <p class="subtext">Placeholder for the Blend, Create Label, Submit functionality</p>
    <h1>Create your blend</h1>
    <p class="subtext">Select the winery you plan to visit.</p>

    <div class="form-wrap form-onsite">
      <input placeholder="Buena Vista">
      <input placeholder="Enter Confirmation Number">
      <p>
        *If you select the "At Location" option, make sure you have your confirmation number ready. Your confirmation number is the number you received by signing up through CellarPass or Boisset directly.
      </p>
    </div>

    <div class="button-wrap">
      <button>Next*</button>
    </div>
  </div>
</template>
