<template name="RemoteMixer_Submit">
  <div class="container-narrow">
    <div class="form-wrap">
      <p class="subtext">Placeholder for the Blend, Create Label, Submit functionality</p>
      <h1>Submit</h1>
      <p>#1 Order will be shipped to California Address specified at checkout.</p>
      <p>#2 DeLoach blend titled "Birthday"
        <ul>
          <li>40% Wine #1</li>
          <li>20% Wine #2</li>
          <li>30% Wine #3</li>
          <li>10% Wine #4</li>
        </ul>
      </p>
      <p>#3 Birthday Label 2:</p>
      <img src="http://placehold.it/250x200">
      <p>#4 Select number of cases<br/>($480.00 per case)</p>
      <input placeholder="Number of Cases">
    </div>
    <div class="button-wrap">
      <button>Add to Cart </button>
    </div>
  </div>
</template>
