<template name="RemoteMixer_Deloach">
  <div class="container">
    <p class="subtext">Placeholder for the Blend, Create Label, Submit functionality</p>

    <h1>DeLoach Blend</h1>

    <p class="subtext">
      Choose from our selection of wines to help you blend your perfect wine. Each variety has a description to help you through the wine blending process
    </p>

    <div class="new-blend">
      <p>New Blend <span class="new-blend-plus">&#43;</span></p>
    </div>

    <div class="mixer-wrap">
      <div class="mixer-quarters">
        <img src="http://placehold.it/150x190">
        <h4>Olivet Bench Pinot Noir</h4>
        <p>Intense</p>
        <p>Intimate</p>
        <p>Tumultuous</p>
      </div>

      <div class="mixer-quarters">
        <img src="http://placehold.it/150x190">
        <h4>Middle Reach Pinot Noir</h4>
        <p>Graceful</p>
        <p>Honoris</p>
        <p>Maritus</p>
      </div>

      <div class="mixer-quarters">
        <img src="http://placehold.it/150x190">
        <h4>Green Valley Pinot Noir</h4>
        <p>Decadent</p>
        <p>Hedonistic</p>
        <p>Noble</p>
      </div>

      <div class="last-mixer-quarter">
        <img src="http://placehold.it/150x190">
        <h4>Sebastopol Hills Pinot Noir</h4>
        <p>Climactic</p>
        <p>Perceptive</p>
        <p>Vivacious</p>
      </div>
    </div>

    <div class="winemakers-tip">
      <p> Winemaker's Tip</p>
      <div class="button-wrap">
        <button>Select</button>
      </div>
    </div>

  </div>
</template>
