<template name="Video">
  <div class="container-medium">
    <h1>Dare to Blend?</h1>
    <img src="http://placehold.it/590x320">
    <div class="form-wrap">
      <div class="button-wrap video-buttons">
        <button>At Location*</button>
        <button>Online</button>
      </div>
      <p>
        *If you select the "At Location" option, make sure you have your confirmation number ready. Your confirmation number is the number you recieved by signing up through CellarPass or Boisset directly
      </p>
    </div>
  </div>
</template>
